#globalGlobalContainer {
  height: 270%;
}

/* You can add global styles to this file, and also import other style files */
#GreekParallax {
  padding: 0;
  margin: 0;
  background-image: url(../../assets/GreekBackground.jpg);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#GreekParallax::-webkit-scrollbar {
  display: none;
}

#globalContainer {
  position: absolute;
  top: 20%;
  width: 100%;
}

#animation {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* DashboardComponent's private CSS styles */
#container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#header {
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0.5%;
}
nav {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
nav a {
  padding: 1rem;
  min-width: fit-content;
  background-color: #3f525c;
  color: white;
  font-size: 1.5em;
  border-radius: 4px;
  margin-bottom: 2%;
}
nav a:hover {
  background-color: #fcd5ce;
  border: solid 2px white;
}
nav a.active {
  background-color: black;
}

h2 {
  text-align: center;
  color: white;
}

.articles-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #3f525c;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: 0.5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}
.articles-menu a:hover {
  background: white;
  color: black;
}

@keyframes fadeIn {
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#familyTree {
  position: relative;
  width: 55%;
  left: 22.5%;
  border: solid 5px white;
  border-radius: 4px;
}
