#container1 {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 50%;
  margin: 0 auto;
}
#LoginBox {
  background-image: url(../../assets/GreekBackground.jpg);
  width: 100%;
  height: 100%;
  border: solid 5px black;
  margin: 0, 0, 0, 0;
  padding: 5%;
  font-size: 36px;
}

input {
  margin: none;
  padding: none;
  width: 50%;
  color: red;
  font-weight: 500;
}

#inscription {
  font-size: 20px;
}

.lien {
  color: blue;
  text-decoration: underline;
}

.lien:hover {
  cursor: pointer;
}
