html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* You can add global styles to this file, and also import other style files */
#GreekParallax {
  padding: 0;
  margin: 0;
  background-image: url(assets/GreekBackground.jpg);

  /* Full height */
  height: 140%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#GreekParallax::-webkit-scrollbar {
  display: none;
}
