
        <div id="container1">
            <form id="LoginBox">
                Registration<br>
                <input type="text" placeholder="Identifiant" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button type="submit" routerLink="/dashboard">Register</button><br>
                <div id="inscription"><a class="lien" routerLink="/login" >Back to Login</a></div>
            </form>

        </div>
